.barcode-reader {
  position: relative;

  &__camera-name {
    position: absolute;
    left: 0;
    top: 0;
    color: red;
  }

  &__available-cameras {
    margin-bottom: 1em;
    width: 100%;
  }
}
